{
  "env": {
    "browser": true,
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "quotes": [1, "single"]
    
    //"no-console": "warn"
  }
}
